body {
    background: rgb(60, 216, 192);
    color: rgb(45, 45, 45);
    padding: 20px;
    font-family: arial;
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(255, 44, 99);
   margin: 0 auto;
   border-radius: 8px;
   margin-bottom: 10px;
    display: flex;
    padding: 10px;
}
h1 {
    display: flex;
    align-items: center;
    color: white;
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #fff;
}

/* main container area beneath menu */
main {
    background: rgb(230, 230, 230);
    border-radius: 8px;
    padding: 20px;
    display: flex;
}
.sidebar {
    margin-left: 5px;
}
.sidebar-img {
    width: 200px;
    padding: 10px;
}
.content {
    flex: 1;
    padding: 10px;
    margin-top: 20px;
}

/* portfolio styles */
#interests {
    padding: 10px;
}
h2, h3 {
    margin: 0px;
}